@import "../../../../styles/mixins.scss";
@import "../../../../styles/responsive.scss";
$ziro: 0px;
.swiper__main {
  width: 100%;
  height: 100%;
  position: relative;
  @include responsive($ziro) {
    .heart_slider {
      width: 25px;
      height: 25px;
      top: 5px;
      right: 30px;
      svg {
        font-size: 15px;
      }
    }
    .undo_slider {
      top: 17%;
      right: 30px;
      width: 25px;
      height: 25px;
      svg {
        font-size: 15px;
      }
    }
    .glass_slider {
      bottom: 30%;
      right: 25px;
      width: 25px;
      height: 25px;
      svg {
        font-size: 15px;
      }
    }
    .about_slider {
      .aboutLink_slider {
        font-size: 10px;
        .p__slider {
          font-size: 10px;
        }
        span {
          font-size: 10px;
        }
      }
    }
  }
  @include responsive($mobile) {
    .heart_slider {
      width: 30px;
      height: 30px;
      top: 5px;
      right: 30px;
      svg {
        font-size: 17px;
      }
    }
    .undo_slider {
      top: 17%;
      right: 30px;
      width: 30px;
      height: 30px;
      svg {
        font-size: 17px;
      }
    }
    .glass_slider {
      bottom: 30%;
      right: 25px;
      width: 30px;
      height: 30px;
      svg {
        font-size: 17px;
      }
    }
    .about_slider {
      .aboutLink_slider {
        font-size: 11px;
        .p__slider {
          font-size: 11px;
        }
        span {
          font-size: 11px;
        }
      }
    }
  }
  @include responsive($tablet) {
    .heart_slider {
      width: 35px;
      height: 35px;
      top: 5px;
      right: 10%;
      svg {
        font-size: 18px;
      }
    }
    .undo_slider {
      top: 17%;
      right: 10%;
      width: 35px;
      height: 35px;
      svg {
        font-size: 18px;
      }
    }
    .glass_slider {
      bottom: 30%;
      right: 10%;
      width: 35px;
      height: 35px;
      svg {
        font-size: 18px;
      }
    }
    .about_slider {
      .aboutLink_slider {
        font-size: 12px;
        .p__slider {
          font-size: 12px;
        }
        span {
          font-size: 12px;
        }
      }
    }
  }
  @include responsive($laptop) {
    .heart_slider {
      width: 40px;
      height: 40px;
      top: 5px;
      right: 10%;
      svg {
        font-size: 20px;
      }
    }
    .undo_slider {
      top: 17%;
      right: 10%;
      width: 40px;
      height: 40px;
      svg {
        font-size: 20px;
      }
    }
    .glass_slider {
      bottom: 30%;
      right: 10%;
      width: 40px;
      height: 40px;
      svg {
        font-size: 20px;
      }
    }
    .about_slider {
      .aboutLink_slider {
        font-size: 13px;
        .p__slider {
          font-size: 13px;
        }
        span {
          font-size: 13px;
        }
      }
    }
  }
  @include responsive($desktop) {
    .heart_slider {
      width: 50px;
      height: 50px;
      top: 5px;
      right: 12%;
      svg {
        font-size: 25px;
      }
    }
    .undo_slider {
      top: 17%;
      right: 12%;
      width: 50px;
      height: 50px;
      svg {
        font-size: 25px;
      }
    }
    .glass_slider {
      bottom: 30%;
      right: 12%;
      width: 50px;
      height: 50px;
      svg {
        font-size: 25px;
      }
    }
    .about_slider {
      .aboutLink_slider {
        font-size: 16px;
        .p__slider {
          font-size: 16px;
        }
        span {
          font-size: 16px;
        }
      }
    }
  }
  #sl-1 {
    height: 75%;
    width: 100%;
    background-color: #fafafa;
    .swiper {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;

      /* Center slide text vertically */
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .swiper-slide img {
      display: block;
      width: 50%;
      height: 100%;
      object-fit: cover;
    }
    .swiper-slide {
      background-size: cover;
      background-position: center;
    }
    .swiper-button-prev {
      background-color: rgb(245, 245, 245);
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      box-shadow: 0.25px 0.5px 5px 5px #2b2b2b2d;
      color: black;
      @include responsive($ziro) {
        width: 25px;
        height: 25px;
        left: 30px;
        &::after {
          font-size: 17px;
        }
      }
      @include responsive($mobile) {
        width: 30px;
        height: 30px;
        left: 30px;
        &::after {
          font-size: 17px;
        }
      }
      @include responsive($tablet) {
        width: 35px;
        height: 35px;
        left: 10%;
        &::after {
          font-size: 18px;
        }
      }
      @include responsive($laptop) {
        width: 40px;
        height: 40px;
        left: 10%;
        &::after {
          font-size: 20px;
        }
      }
      @include responsive($desktop) {
        width: 50px;
        height: 50px;
        left: 12%;
        &::after {
          font-size: 25px;
        }
      }
      &::after {
        color: black;
        font-weight: 700;
      }
    }
    .swiper-button-next {
      width: 50px;
      height: 50px;
      background-color: rgb(245, 245, 245);
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      box-shadow: 0.25px 0.5px 5px 5px #2b2b2b2d;
      color: black;
      @include responsive($ziro) {
        width: 25px;
        height: 25px;
        right: 30px;
        &::after {
          font-size: 15px;
        }
      }
      @include responsive($mobile) {
        width: 30px;
        height: 30px;
        right: 30px;
        &::after {
          font-size: 17px;
        }
      }
      @include responsive($tablet) {
        width: 35px;
        height: 35px;
        right: 10%;
        &::after {
          font-size: 18px;
        }
      }
      @include responsive($laptop) {
        width: 40px;
        height: 40px;
        right: 10%;
        &::after {
          font-size: 20px;
        }
      }
      @include responsive($desktop) {
        width: 50px;
        height: 50px;
        right: 12%;
        &::after {
          font-size: 25px;
        }
      }
      &::after {
        color: black;
        font-weight: 700;
      }
    }
    &::after {
      font-size: 23px;
      color: black;
      font-weight: 700;
    }
  }
}
#sl-2 {
  width: 100%;
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
  .swiper-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2;
    .swiper-slide {
      height: 100%;
      opacity: 0.4;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      overflow: hidden;
      @include responsive($ziro) {
        width: 50px !important;
      }
      @include responsive($mobile) {
        width: 70px !important;
      }
      @include responsive($tablet) {
        width: 100px !important;
      }
      @include responsive($laptop) {
        width: 60px !important;
      }
      @include responsive($desktop) {
        width: 13% !important;
      }
      &::after {
        color: black;
        font-weight: 700;
      }
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .swiper-slide-thumb-active {
      opacity: 1;
    }
  }
}
.heart_slider {
  position: absolute;
  z-index: 3;
  background-color: rgb(245, 245, 245);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0.25px 0.5px 5px 5px #2b2b2b2d;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  svg {
    transition-property: all;
    transition-timing-function: linear;
    transition-duration: 300ms;
    color: #6b6b6bc7;
    &:hover {
      color: black;
    }
  }
}
.undo_slider {
  position: absolute;
  z-index: 3;
  background-color: rgb(245, 245, 245);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0.25px 0.5px 5px 5px #2b2b2b2d;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  svg {
    transition-property: all;
    transition-timing-function: linear;
    transition-duration: 300ms;
    color: #6b6b6bc7;
    &:hover {
      color: black;
    }
  }
}
.glass_slider {
  position: absolute;
  z-index: 3;
  background-color: rgb(245, 245, 245);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0.25px 0.5px 5px 5px #2b2b2b2d;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  svg {
    transition-property: all;
    transition-timing-function: linear;
    transition-duration: 300ms;
    color: #6b6b6bc7;
    &:hover {
      color: black;
    }
  }
}
.about_slider {
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  .aboutLink_slider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    &:hover {
      .p__slider {
        color: red;
      }
      span {
        color: red;
      }
    }
    .p__slider {
      color: #5b5b5b;
      font-weight: 700;
      text-decoration: underline;
      transition-property: all;
      transition-timing-function: linear;
      transition-duration: 300ms;
    }
    span {
      color: #5b5b5b;
      transition-property: all;
      transition-timing-function: linear;
      transition-duration: 300ms;
    }
  }
}
