.menu_cat {
  height: 100%;
  .ti_cat {
    height: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    .pCat {
      font-size: 25px;
      color: #5b5b5b;
      margin-bottom: 2px;
    }
    .linkCat {
      font-size: 20px;
      transition: all;
      text-decoration: none;
      font-weight: 300;
      color: black;
      &:hover {
        color: red;
      }
    }
  }
  .Menu__catmain{
    margin-bottom: 2px;
  }
}
