.cat-m-s {
  width: 100%;
  height: 100%;
  transition-duration: 300ms;
  transition-timing-function: linear;
  transition-property: all;
  .cat-m-s-1 {
    width: 100%;
    height: 60%;
    overflow-x: auto;
    z-index: 1;
    .bcat {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      div {
        width: 45%;
        height: auto;
        p {
          color: black;
          font-size: 15px;
          font-weight: 700;
          margin-top: 10px;
          padding-left: 5px;
          margin-bottom: 10px;
        }
        .cat_li {
          display: block;
          text-decoration: none;
          font-size: 13px;
          margin-top: 3px;
          color: #5b5b5b;
          padding-left: 10px;
          margin-top: 5px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          transition-duration: 300ms;
          transition-timing-function: linear;
          transition-property: all;
          &:hover {
            color: rgb(214, 54, 54);
          }
        }
      }
    }
  }
  .cat-m1 {
    width: 100%;
    height: 40%;
    .morecat {
      display: block;
      width: 50%;
      height: 30px;
      margin-bottom: 10px;
      padding-left: 10px;
      p {
        color: rgb(34, 169, 253);
        font-size: 16px;
      }
    }
    .main_slider {
      width: 100%;
      height: 150px;
      display: flex;
      justify-content: center;
      .bpb {
        width: 90%;
        margin-right: 30px;
        height: 100%;
        border-top: 0.5px solid #5b5b5b5d;
        border-bottom: 0.5px solid #5b5b5b5d;
      }
    }
    .des_slider {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  .maindes_slider {
    width: 90%;
    height: 100%;
    margin-right: 30px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    .m__slider1 {
      color: #5b5b5b;
      display: inline;
    }
    .m__slider2 {
      display: inline;
      margin-left: 10px;
      p {
        display: inline;
        margin-left: 2px;
        color: #5b5b5b;
        transition-duration: 300ms;
        transition-property: all;
        transition-timing-function: ease-in-out;
        &:hover {
          color: red;
        }
        span {
          display: inline-block;
          margin-left: 10px;
        }
      }
    }
  }
}
  }
}
