@import "../../../styles/responsive.scss";
@import "../../../styles/mixin.scss";
$laptop_cat: 1280px;
$tablet_cat: 1024px;
.submenu {
  height: 100%;
  position: relative;
  @include responsive($mobile) {
    display: none;
  }
  @include responsive($tablet_cat) {
    display: none;
  }
  @include responsive($laptop_cat) {
    width: 100%;
    display: block;
  }
  @include responsive($desktop) {
    width: 100%;
    display: block;
  }
  div {
    width: 100%;
    &:hover {
      .sub_1 {
        background-color: rgba(0, 0, 139, 0.085);
        color: red;
      }
      .main_sub {
        z-index: 2;
        transition-duration: 300ms;
        transition-timing-function: linear;
        transition-property: all;
        .msMenu_1 {
          opacity: 1;
          transition-duration: 300ms;
          transition-timing-function: linear;
          transition-property: all;
        }
      }
    }
    .sub_1 {
      display: block;
      width: 90%;
      margin: 0 auto;
      height: 30px;
      line-height: 30px;
      font-weight: 300;
      font-size: 14px;
      text-decoration: none;
      color: #5b5b5b;
      padding-left: 10px;
      transition-duration: 300ms;
      transition-timing-function: linear;
      transition-property: all;
      text-transform: capitalize;
      z-index: 5;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .main_sub {
      position: absolute;
      background-color: whitesmoke;
      top: -60px;
      left: 100.3%;
      width: 700px;
      height: 610px;
      overflow: hidden;
      z-index: -1;
      transition-duration: 50ms;
      transition-timing-function: linear;
      transition-property: all;

      .msMenu_1 {
        width: 100%;
        height: 100%;
        opacity: 0;
        overflow: hidden;
        transition-duration: 300ms;
        transition-timing-function: ease-in-out;
        transition-property: all;
        padding: 20px;
      }
    }
  }

  div {
    width: 100%;
    .sub_2 {
      display: block;
      margin: 0 auto;
      height: 30px;
      line-height: 30px;
      font-weight: 300;
      text-decoration: none;
      color: rgb(57, 118, 233);
      padding-left: 10px;
      transition-duration: 50ms;
      transition-timing-function: ease-in-out;
      transition-property: all;
      text-transform: capitalize;
      @include responsive($mobile) {
        display: none;
      }
      @include responsive($tablet_cat) {
        display: none;
      }
      @include responsive($laptop_cat) {
        width: 90%;
        display: block;
      }
      @include responsive($desktop) {
        width: 90%;
        display: block;
      }
      span {
        display: inline;
      }
    }
    .cat_sub {
      position: absolute;
      top: -60px;
      left: 100.3%;
      width: 700px;
      height: 610px;
      overflow: hidden;
      background-color: #5b5b5b;
      z-index: -1;
      opacity: 0;
      transition-duration: 300ms;
      transition-timing-function: linear;
      transition-property: all;
    }
    &:hover {
      .sub_2 {
        background-color: rgba(0, 0, 139, 0.085);
        color: red;
      }
      .cat_sub {
        opacity: 1;
        z-index: 3;
      }
    }
  }
}
