.menu_cat {
  width: 100%;
  height: 100%;
  .ti_cat {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding-left: 15px;
    &:hover {
      .pCat {
        color: red;
      }
      .linkCat {
        color: red;
      }
    }
    .pCat {
      font-size: 25px;
      color: #5b5b5b;
    }
    .linkCat {
      font-size: 20px;
      transition: all;
      text-decoration: none;
      font-weight: 300;
      color: black;
    }
  }
  .Menu__catmain {
    margin-bottom: 2px;
    height: 85%;
    padding-top: 10px;
  }
}
