@import "../../../../../../styles/mixins.scss";
@import "../../../../../../styles/responsive.scss";
@import "../../../../../../styles/variables.scss";
$ziro: 0px;
.com_left_side_menu___A {
    @include responsive($ziro){
        display: none;
    }
  @include responsive($laptop) {
    width: 100%;
    height: 100%;
    display: block;
  }
  .title_com_left_side_menu {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    font-family: roboto-bold;
    line-height: 1.688rem;
    font-size: 1.125rem;
     
  }
  .submenu_left_side_menu {
    width: 100%;
    height: calc(100% - 61px);
    padding-top: 1.5rem;
    position: relative;
    .div__submenu_left_side {
        width: 100%;
        height: auto;
        padding-top: 1rem;
        padding-bottom:1rem;
        padding-left: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: row wrap;
        transition-duration: 300ms;
        transition-property: all;
        transition-timing-function: linear;
        .abs_div_menu_card_left__side{
            position: absolute;
            width: 100%;
            height: 550px;
            top: -13.5%;
            left: 100%;
            background-color: white;
            border: 1px solid #5b5b5b1a;
            transition-duration:300ms;
            transition-timing-function: linear;
            transition-property: all;
            display:flex;
            flex-flow: column wrap;
            justify-content: space-start;
            align-items: start;
            padding-top: 1rem;
            padding-bottom: 1rem;
            .abs_div_menu_card_left__side_link{
                display: block;
                width: 50%;
                height: 30px;
                line-height: 30px;
                color: #222222;
                transition-duration: 300ms;
                transition-property: all;
                transition-timing-function: linear;
                padding-left: 0.5rem;
                font-size: 12px;
                font-family: Arial, Helvetica, sans-serif;
                &:hover{
                    color: #E64545;
                }
            }
        }
        .absd_link_show_menu{
          width: 100%;
          height: 40px;
          overflow: hidden;
          padding-left: 0.5rem;
          padding-right: 1rem;
          a{
            font-size: 0.7rem;
            padding-right: 0.3rem;
          }
        }
        .div_link_submenu_left_side{
            width: max-content;
            font-size: 12px;
            line-height: 18px;
        }
        svg{
            display: inline;
            margin-right: 0.5rem;
        }
    }
  }
}
