@import "../../styles/mixin.scss";
@import "../../styles/responsive.scss";
$ziro: 0px;
.main_product {
  width: 100%;
  height: auto;
  border-bottom: 0.5px solid #5b5b5b54;
  .describe_product {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    @include responsive($ziro) {
      width: 100%;
      height: auto;
      .des1__product {
        width: 100%;
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        @include center;
        .Slider_product {
          width: 97%;
          height: 350px;
        }
      }
      .des2__product {
        width: 100%;
        height: auto;
      }
    }
    @include responsive($mobile) {
      width: 100%;
      height: auto;
      .des1__product {
        width: 100%;
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        @include center;
        .Slider_product {
          width: 95%;
          height: 450px;
        }
      }
      .des2__product {
        width: 100%;
        height: auto;
         
      }
    }
    @include responsive($tablet) {
      width: 100%;
      height: auto;
      .des1__product {
        width: 100%;
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        @include center;
        .Slider_product {
          width: 90%;
          height: 576px;
        }
      }
      .des2__product {
        width: 100%;
        height: auto;         
      }
    }
    @include responsive($laptop) {
      width: 100%;
      height: auto;
      .des1__product {
        width: 50%;
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        @include center;
        @include responsive-minmsx($laptop, 1364px) {
          .Slider_product {
            width: 510px;
            height: 480px;
          }
        }
        @include responsive-minmsx(1364px, 1476px) {
          .Slider_product {
            width: 670px;
            height: 566px;
          }
        }
        @include responsive-minmsx(1476px, $desktop) {
          .Slider_product {
            width: 722px;
            height: 580px;
          }
        }
      }
      .des2__product {
        width: 50%;
        height: auto;
        
      }
    }
    @include responsive($desktop) {
      width: 100%;
      height: auto;
      max-width: 1750px;
      margin: 10px auto;
      .des1__product {
        width: 50%;
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        @include center;
        .Slider_product {
          width: 780px;
          height: 644px;
        }
      }
      .des2__product {
        width: 50%;
        height: auto;
      }
    }
  }
}
.main_product_sec2{
  width: 95%;
  height: auto;
  max-width: 1750px;
  margin: auto;
  padding-bottom: 10px;
}
