@import "../../../styles/mixins.scss";
@import "../../../styles/responsive.scss";
$ziro: 0px;
.submit_com_report {
  width: 100%;
  height: auto;
  margin-top: 0.313rem;
  .submit_button {
    width: 100%;
    height: auto;
    @include responsive($ziro) {
      padding: 1rem 1rem;
    }
    @include responsive($tablet) {
      padding: 1.563rem 0.938rem;
    }
    border: 1px solid #d1f2ce;
    background-color: #f3fff2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    row-gap: 2rem;
    .sb_div_button {
      @include responsive($ziro) {
        width: 100%;
        &:nth-last-of-type(1) {
          border-top: 1px dashed #cccccc;
          border-left: none;
          padding-left: 0;
        }
      }
      @include responsive($laptop) {
        width: 50%;
        &:nth-last-of-type(1) {
          border-left: 1px dashed #cccccc;
          padding-left: 1.75rem;
          border-top: none;
        }
      }
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: start;
      .sb_div_div_h4 {
        padding-top: 1rem;
        padding-left: 0.5rem;
        padding-bottom: 1rem;
        font-size: 0.813rem;
        font-family: roboto-bold;
        color: #333333;
        line-height: 1.219rem;
      }
      .main_sub_mit {
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        row-gap: 0.75rem;
        padding-bottom: 1rem;
        .button_report_main {
          @include responsive($ziro) {
            width: 100%;
            align-items: start;
          }
          @include responsive(530px) {
            width: 50%;
            align-items: center;
          }
          height: auto;
          display: flex;
          justify-content: start;
          column-gap: 0.375rem;
          .radio__report {
            width: max-content;
          }
          label {
            width: max-content;
            font-size: 0.75rem;
            color: #333333;
            line-height: 1.25rem;
            font-family: Arial, Helvetica, sans-serif;
          }
        }
      }
    }
  }
  .continue_sub_disable{
    display: block;
    width: 115px;
    height: 36px;
    line-height: 36px;
    font-size: 1rem;
    color: #999999;
    background-color: #DCDCDC;
    transition-timing-function: linear;
    transition-property: all;
    transition-duration: 300ms;
    margin: auto;
    margin-top: 30px;
    padding: 0px 20px;
    text-align: center;
    line-height: 36px;
    border-radius: 4px;
    font-size: 1rem;
    font-family: roboto-bold;
  }
  .continue_sub_enable{
    color: #FFFFFF;
    background-color: #E64544;
    border: 1px solid #E64545;
  }
}
.sign____comp{
 @include responsive ($ziro){
   width: 90%;
   height: 70%;
 }
 @include responsive ($mobile){
   width: 90%;
   height: 70%;
 }
 @include responsive ($tablet){
   width: 60%;
   height: 70%;
 }
 @include responsive ($laptop){
   width: 40%;
   height: 70%;
 }
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: whitesmoke;
  .submit____close_modal{
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;
    font-family: roboto-bold;
    font-size: 1rem;
    background-color: white;
    border-bottom: 1px solid #00000067;
    p{
      color: #000000;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    }
    svg{
      font-size: 2rem;
      color: lightgray;
      transition-duration: 300ms;
      transition-property: all;
      transition-timing-function: linear;
      &:hover{
        color: #000000;
      }
    }
  }
}