@import "../../styles/mixin.scss";
@import "../../styles/responsive.scss";
$ziro: 0px;
.submit_com_report {
  width: 100%;
  height: auto;
  margin-top: 0.313rem;
  .submit_button {
    width: 100%;
    height: auto;
    @include responsive($ziro) {
      padding: 1rem 1rem;
    }
    @include responsive($tablet) {
      padding: 1.563rem 0.938rem;
    }
    border: 1px solid #d1f2ce;
    background-color: #f3fff2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    row-gap: 2rem;
    .sb_div_button {
      @include responsive($ziro) {
        width: 100%;
        &:nth-last-of-type(1) {
          border-top: 1px dashed #cccccc;
          border-left: none;
          padding-left: 0;
        }
      }
      @include responsive($laptop) {
        width: 50%;
        &:nth-last-of-type(1) {
          border-left: 1px dashed #cccccc;
          padding-left: 1.75rem;
          border-top: none;
        }
      }
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: start;
      .sb_div_div_h4 {
        padding-top: 1rem;
        padding-left: 0.5rem;
        padding-bottom: 1rem;
        font-size: 0.813rem;
        font-family: roboto-bold;
        color: #333333;
        line-height: 1.219rem;
      }
      .main_sub_mit {
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        row-gap: 0.75rem;
        padding-bottom: 1rem;
        .button_report_main {
          @include responsive($ziro) {
            width: 100%;
            align-items: start;
          }
          @include responsive(530px) {
            width: 50%;
            align-items: center;
          }
          height: auto;
          display: flex;
          justify-content: start;
          column-gap: 0.375rem;
          .radio__report {
            width: max-content;
          }
          label {
            width: max-content;
            font-size: 0.75rem;
            color: #333333;
            line-height: 1.25rem;
            font-family: Arial, Helvetica, sans-serif;
          }
        }
      }
    }
  }
  .continue_sub_disable{
    width: 64px;
    height: 36px;
    line-height: 36px;
    font-size: 1rem;
    color: #999999;
  }
}
.ppppppp{
  width: 50%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: whitesmoke;
}