@import "../../../styles/mixins.scss";
@import "../../../styles/responsive.scss";
@import "../../../styles/variables.scss";
$ziro: 0px;
$max: 1450px;
.categorize_page_part_one {
  width: 100%;
  background-color: #f5f7fa;
  height: auto;
  padding-top: 5rem;
  padding-bottom: 3rem;
  .categorize___main_part_one {
    display: flex;
    width: 95%;
    background-color: white;
    height: auto;
    max-width: $max;
    border-radius: 4px;
    height: 460px;
    margin: auto;
    justify-content: center;
    position: relative;
    .card_page_categorize {
      height: 460px;
      display: flex;
      flex-flow: row wrap;
      overflow: hidden;
      @include responsive($ziro) {
        width: 100%;
        border: 0.5px solid rgb(230, 230, 230);
      }
      @include responsive($laptop) {
       flex: 4;
        border: 0.5px solid rgb(230, 230, 230);
        border-left: none;
      }
      .card_page_cat {
        display: none;
        @include responsive($ziro) {
          width: 100%;
        }
        @include responsive($mobile) {
          width: 50%;
        }
        @include responsive($tablet) {
          width: 33.33%;
        }
        @include responsive($laptop) {
          width: 25%;
        }
        @include responsive($desktop) {
          width: 20%;
        }
        height: 50%;
          border: 0.01px solid #5b5b5b17;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          .card_page_name {
            width: 100%;
            text-align: center;
            font-size: 0.875rem;
            line-height: 1.313rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: #555;
            transition-duration: 300ms;
            transition-property: all;
            transition-timing-function: linear;
            padding: 1rem;
            &:hover{
              color: #E64545;
            }
          }
          img{
            width: 50%;
            object-fit: cover;
          }
      }
    }
  }
}
