@import "../../styles/mixin.scss";
@import "../../styles/responsive.scss";
$ziro: 0px;
@keyframes ani_1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes ani_2 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}
.help_trading_banner {
  display: block;
  width: 100%;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url(../../../../public/assets/Images/Help_Trading/bg_banner.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  .trading_banner {
    width: 90%;
    margin: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    max-width: 1400px;
    row-gap: 35px;
    .trading_banner_1 {
      @include responsive($ziro) {
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        .banner_tr_h1{
            text-align: center;
            margin-bottom: 10px;
        }
        .banner_tr_p{
            text-align: center;
            margin-bottom: 10px;
        }
      }
      @include responsive($laptop) {
        width: 50%;
       display: block;
        .banner_tr_h1{
            text-align: left;
             margin-bottom: 30px;
        }
        .banner_tr_p{
            text-align: left;
             margin-bottom: 30px;
        }
      }
      height: auto;
      .banner_tr_h1 {
        width: 100%;
        font-size: 2.75rem;
        font-family: roboto-bold;
        color: whitesmoke;
       
      }
      .banner_tr_p {
        width: 100%;
        font-size: 1rem;
        color: whitesmoke;
      }
      .banner_tr_link {
        display: block;
        width: max-content;
        height: max-content;
        padding: 10px 24px;
        background-color: whitesmoke;
        color: #ee3934;
        border-radius: 26px;
        font-family: roboto-bold;
        font-size: 1.125rem;
      }
    }
    .trading_banner_2 {
      @include responsive($ziro) {
        width: 90%;
        margin: auto;
      }
      @include responsive($mobile) {
        width: 75%;
        margin: auto;
      }
      @include responsive($laptop) {
        width: 45%;
      }
      height: auto;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
        object-fit: cover;
      }
      .tr_bann_abs_1 {
        width: 55%;
        position: absolute;
        top: 0%;
        left: -15%;
        animation-name: ani_1;
        animation-duration: 4s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        img {
          object-fit: cover;
        }
      }
      .tr_bann_abs_2 {
        width: 45%;
        position: absolute;
        bottom: 0%;
        left: -4%;
        animation-name: ani_2;
        animation-duration: 4s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        img {
          object-fit: cover;
        }
      }
      .tr_bann_abs_3 {
        width: 20%;
        position: absolute;
        top: -2%;
        right: 0%;
        animation-name: ani_2;
        animation-duration: 4s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        img {
          object-fit: cover;
        }
      }
      .tr_bann_abs_4 {
        width: 38%;
        position: absolute;
        bottom: -2%;
        right: -8%;
        animation-name: ani_1;
        animation-duration: 4s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        img {
          object-fit: cover;
        }
      }
    }
  }
}
