.cat-m-s {
  width: 100%;
  height: 100%;
  transition-duration: 300ms;
  transition-timing-function: linear;
  transition-property: all;
  .cat-m-s-1 {
    width: 100%;
    height: 65%;
    overflow-x: auto;
    z-index: 1;
    .bcat {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      div {
        width: 45%;
        height: auto;
        p {
          color: black;
          font-size: 16px;
          font-weight: 700;
          margin-top: 10px;
          padding-left: 5px;
          margin-bottom: 10px;
        }
        .cat_li {
          display: block;
          text-decoration: none;
          font-size: 16px;
          margin-top: 3px;
          color: #5b5b5b;
          padding-left: 10px;
          margin-top: 5px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          transition-duration: 300ms;
          transition-timing-function: linear;
          transition-property: all;
          &:hover {
            color: rgb(214, 54, 54);
          }
        }
      }
    }
  }
  .cat-m1 {
    width: 100%;
    height: 35%;
    background-color: pink;
  }
}
