@import "../../../styles/mixin.scss";
@import "../../../styles/responsive.scss";
$ziro: 0px;
.wwwwwwww{
    width: 100%;
    height: 80000px;
    background-color: orange;
    transition-duration: 500ms;
    transition-property: all;
    transition-timing-function: ease-in-out;
}
